.library-body {
  display: grid;
  grid-template-columns: 305px 305px 305px 305px 305px;
  grid-template-rows: 400px 400px 400px 400px 400px;
  width: 90%;
  height: 95vh;
  gap: 30px;
  transition: 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  padding: 12px;
  grid-auto-columns: calc(100vw / 6, 5);
  margin-top: 85px;
}

