.playlist-card {
    width: calc(100vw / 6, 5);
    height: calc(100vh / 2, 5);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    backdrop-filter: blur(3px);
    background-color: #8babd341;
    /* background-image: linear-gradient(
      119deg,
      #684b9c 0%,
      #1a6eae 52%,
      #293543 100%
    ); */
    position: relative;
    box-shadow: 1px 1px 4px black;
    padding: 12px;
    border-radius: 16px;
    /* color: rgb(153, 245, 247); */
    transition: all 0.5s ease;
  }
  .playlist-card:hover {
    transform: scale(1.05);
    cursor: pointer;
    
  }
  .playlist-image {
    width: 96%;
    height: 96%;
    border-radius: 16px;
    margin-bottom: 12px;
  }
  .tilte-playlist {
    font-weight: 700;
    font-size: larger;
    padding: 0;
    margin: 0;
  }
  .playlist-hover {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 70px;
    background-color:transparent;
    opacity: 0;
    backdrop-filter: blur(14px);
    border-radius: 16px;
    transition: all 0.5 ease;
    /* color: #000000; */
  }
  
  .playlist-card:hover .playlist-hover {
    opacity: 0.8;
    z-index: 1;
  }